@import url(./style.css);

a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

header a {
  margin: 0;
}

.weather {
  padding: 5rem 3rem;
  position: relative;

  h2 {
    font-weight: 800;
    padding: 1.5rem 1rem 3rem;
    font-size: 40px;
  }

  &__content {
    background-color: rgb(0 0 0 / 50%);
    position: relative;
    border-radius: 5px;
  }

  &__flex {
    padding: 1em 1em 2em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__flex1,
  &__flex2 {
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__flex1 {
    align-items: flex-start;
    .temps {
      display: flex;
      align-items: center;
      height: 66%;
    }
  }

  &__flex2 {
    padding-top: 0.5em;
  }

  &__code {
    margin-right: 0.8em;
    img {
      width: 60px;
    }
  }

  &__temp {
    font-size: 60px;
  }

  &__descr {
    font-size: 20px;
  }

  &__flexwind {
    font-size: 20px;
    display: flex;
    height: 33%;
    &-windspeed {
      margin-right: 0.3em;
    }
  }

  &__windgusts,
  &__rain {
    height: 33%;
    font-size: 20px;
  }
}

.prev-container {
  margin-bottom: 4em;
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin: 1em;
    color: black;
  }
}

.prev {
  width: 75%;
  margin: 1em auto;
  opacity: 0.9;
  background-color: #231e1e;
  border: 5px solid white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  color: antiquewhite;
  border-radius: 8px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgb(65, 58, 58);
  }
  &_day {
    text-transform: uppercase;
    margin: 0.8em 1.5em;
    font-weight: 700;
    font-size: 30px;
    width: 20%;
  }

  &_flex {
    padding: 2em;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  &_min,
  &_max {
    gap: 0.5em;
    display: flex;
    align-items: center;
    .weather__descr {
      margin: 0.6em;
    }
  }

  .temps {
    gap: 1em;
    align-items: center;
    display: flex;

    .min__code,
    .max__code {
      transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);

      img {
        width: 50px;
      }
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .max__descr,
  .min__descr {
    font-weight: 600;
  }
  &_chevron {
    height: 40px;
    font-size: 40px;
  }
}

.weather:before {
  content: " ";
  transform: rotate(180deg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(1.6);
  background-image: url("../images/ciel-bleu.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media screen and (max-width: 620px) {
  .weather {
    padding: 3em 2em;

    h1 {
      padding: 1.5rem 1rem 2rem;
    }

    &__flex {
      flex-direction: column;

      &2 {
        align-items: flex-start;
        padding-top: 1.2em;
      }
    }

    &__descr {
      font-size: 25px;
    }

    &__flexwind {
      flex-wrap: wrap;
    }
  }
  .prev {
    position: relative;
    width: 82%;

    &_day {
      margin: 0 0.5em;
      font-size: 25px;
    }

    &_flex {
      flex-direction: column;
      padding: 0.5em;
      gap: 0.8em;
    }

    &_min,
    &_max {
      gap: 1em;
    }

    &_link {
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &_chevron {
      display: none;
    }

    .temps {
      .min__code,
      .max__code {
        img {
          width: 30px;
        }
      }
    }

    .min__descr,
    .max__descr {
      font-weight: 400;
      font-size: 15px;
    }
  }
}
