@import url(./style.css);
a {
  text-decoration: none;
  color: white;
  margin: 1em;
}

header a {
  margin: 0;
}

.weather {
  padding: 5rem 3rem;
  position: relative;
}
.weather h2 {
  font-weight: 800;
  padding: 1.5rem 1rem 3rem;
  font-size: 40px;
}
.weather__content {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 5px;
}
.weather__flex {
  padding: 1em 1em 2em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.weather__flex1,
.weather__flex2 {
  gap: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.weather__flex1 {
  align-items: flex-start;
}
.weather__flex1 .temps {
  display: flex;
  align-items: center;
  height: 66%;
}
.weather__flex2 {
  padding-top: 0.5em;
}
.weather__code {
  margin-right: 0.8em;
}
.weather__code img {
  width: 60px;
}
.weather__temp {
  font-size: 60px;
}
.weather__descr {
  font-size: 20px;
}
.weather__flexwind {
  font-size: 20px;
  display: flex;
  height: 33%;
}
.weather__flexwind-windspeed {
  margin-right: 0.3em;
}
.weather__windgusts,
.weather__rain {
  height: 33%;
  font-size: 20px;
}

.prev-container {
  margin-bottom: 4em;
}
.prev-container__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin: 1em;
  color: black;
}

.prev {
  width: 75%;
  margin: 1em auto;
  opacity: 0.9;
  background-color: #231e1e;
  border: 5px solid white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  color: antiquewhite;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.prev:hover {
  background-color: rgb(65, 58, 58);
}
.prev_day {
  text-transform: uppercase;
  margin: 0.8em 1.5em;
  font-weight: 700;
  font-size: 30px;
  width: 15%;
}
.prev_flex {
  padding: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.prev_min,
.prev_max {
  gap: 0.5em;
  display: flex;
  align-items: center;
}
.prev_min .weather__descr,
.prev_max .weather__descr {
  margin: 0.6em;
}
.prev .temps {
  gap: 1em;
  align-items: center;
  display: flex;
}
.prev .temps .min__code,
.prev .temps .max__code {
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.prev .temps .min__code img,
.prev .temps .max__code img {
  width: 50px;
}
.prev .temps .min__code:hover,
.prev .temps .max__code:hover {
  transform: scale(1.5);
}
.prev .max__descr,
.prev .min__descr {
  font-weight: 600;
}
.prev_chevron {
  height: 40px;
  font-size: 40px;
}

.weather:before {
  content: " ";
  transform: rotate(180deg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(1.6);
  background-image: url("../images/ciel-bleu.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media screen and (max-width: 1300px) {
  .prev {
    position: relative;
  }
  .prev_day {
    margin: 0 0.5em;
    font-size: 40px;
  }
  .prev_flex {
    flex-direction: column;
    padding: 0.5em;
    gap: 0.8em;
  }
  .prev_min,
  .prev_max {
    gap: 1em;
    font-size: 25px;
  }
  .prev_link {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .prev_chevron {
    display: none;
  }
  .prev .temps .min__code img,
  .prev .temps .max__code img {
    width: 50px;
  }
  .prev .min__descr,
  .prev .max__descr {
    font-weight: 400;
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .weather {
    padding: 3em 2em;
  }
  .weather h1 {
    padding: 1.5rem 1rem 2rem;
  }
  .weather__flex {
    flex-direction: column;
  }
  .weather__flex2 {
    align-items: flex-start;
    padding-top: 1.2em;
  }
  .weather__descr {
    font-size: 25px;
  }
  .weather__flexwind {
    flex-wrap: wrap;
  }
  .prev {
    width: 95%;
  }
  .prev_day {
    font-size: 30px;
  }
  .prev_min,
  .prev_max {
    font-size: 20px;
  }
  .prev .temps .min__code img,
  .prev .temps .max__code img {
    width: 40px;
  }
  .prev .min__descr,
  .prev .max__descr {
    font-size: 20px;
  }
} /*# sourceMappingURL=home.css.map */
